* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    width: fit-content;
    margin: 30px auto;
}

input {
    outline: none;
    border: none;
    font-size: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 3px solid #ddd;
}

.progress {
    background-color: darkblue;
    height: 3px;
    width: 0;
    position: relative;
    top: -3px;
    display: block;
    left: 0;
    transition: 0.3s;
}

.count {
    text-align: right;
    display: block;
    font-size: 16px;
    padding: 5px;
}

.zero {
    font-weight: bold;
    color: red;
}

.zero-progress {
    background-color: red;
}